<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ch.arizona-software.provoc.background.plantshades</string>
	<key>CFBundleName</key>
	<string>Plant Shades</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Default</key>
	<true/>
	<key>QuartzComposition</key>
	<string>Plant Shades.qtz</string>
</dict>
</plist>
